@model IEnumerable<Post>

@{
    ViewBag.Title = "Home page";
    ViewBag.Description = "Home page of Zachary's blog";
    ViewBag.Keywords = "blog pain science poland government inflation misery computer";
}
<h2 class="title">Home page</h2>

<div class="main-img">

</div>

<div class="center">
    <ul class="post-list">
        @foreach(var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>