@model IEnumerable<Post>

@{

}
<h2 class="title">Admin Panel</h2>

<div class="main-img">

</div>

<div class="center">
    
    <ul class="post-list">
        <li>
            <a asp-controller="Panel" asp-action="Edit">Create Post</a>
        </li>

        @foreach(var post in Model)
        {
            <li>
                @post.Title
                &nbsp; - &nbsp;
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id" class="admin-action">
                    Edit 
                </a>
                &nbsp; - &nbsp;
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id" class="admin-action">
                    Remove 
                </a>
            </li>
        }
    </ul>
</div>