*{padding: 0; margin: 0; box-sizing: border-box; font-family: Arial;}

nav{
    background-color: #282323;
    height: 60px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    background-color: #422f2f;
    font-size: 1.1em;
    height: 100%;
    padding: 10px;
    min-width: 100px;
    margin: 5px;
    border: #422f2f 3px solid;
    text-shadow: 1px 1px black;
    color: antiquewhite;
}

nav a:hover {
    background-color: #5f4e4e;
    color: antiquewhite;
}

.main-img{
    background-image: url('../content/static/glapa.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 5px;
}

.title {
    text-align: center;
    padding: 15px;
    font-size: 40px;
    text-shadow: 2px 2px black;
    color: antiquewhite;
}

body{
    background-color: #1a6278;
}

ul.post-list {
    list-style: none;
    text-align: center;
    font-size: 24px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
}

ul.post-list li {
    margin-bottom: 10px;
    text-align: center;
    background-color: #074557;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
ul.post-list li a:visited {
    color: antiquewhite;
}

a.admin-action{
    color: darkred;
}

.post-body {
    padding: 10px;
    background-color: #074557;
    font-size: 20px;
    height: 100%;
    width: 100%;
    min-height: 500px;
    overflow-inline: clip;
    color: antiquewhite;
}

div img{
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
}

.center{
    width: 100%;
    height: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
}

input{
    color: black;
}

label{
    margin: 10px;
}

input {
    margin-top: 10px;
}

label, input, #editor{
    font-size: 20px;
}

#editor{
    min-height: 500px;
}

.post-container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
}

.comment-section {
    width: 100%;
    background-color: #0095c1;
    padding: 5px;
}

.comment-section p, .comment-section input, .comment-section button {
    font-size: 17px;
}

.comment-section input, .comment-section button {
    height: 20px;
}

.comment-section .subcomment-section{
    margin-left: 10px;
}

.comment-section h4 {
    background-color: #0095c1;
    max-width: 200px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.comment{
    margin-top: 5px;
}